<!-- Wappler include head-page="layouts/Desktop" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="Desktop" appConnect="local" components="{dmxBrowser:{},dmxValidator:{},dmxBootstrap5Modal:{},dmxNotifications:{},dmxBootbox5:{},dmxDatePicker:{},dmxMediumEditor:{},dmxScheduler:{},dmxStateManagement:{},dmxDropzone:{},dmxDownload:{},dmxFormatter:{},dmxSockets:{},dmxStripe:{}}" jquery_slim_35="local" moment_2="local" -->
<link href="/css/Desktop.css" rel="stylesheet" />

<meta content="/Desktop" name="ac:route">
<div id="browser" is="dmx-browser"></div>
<dmx-cookie-manager id="cookies"></dmx-cookie-manager>
<dmx-notifications id="notify"></dmx-notifications>
<div id="Desktop" class="_1_2 d-flex" fid="1:2">
    <svg width="1440" height="1024" viewBox="0 0 1440 1024" fill="none" xmlns="http://www.w3.org/2000/svg">

        <g clip-path="url(#clip0_1_2)">

            <rect width="1440" height="1024" rx="20" fill="url(#paint0_linear_1_2)" />

            <g filter="url(#filter0_d_1_2)">

                <path d="M283 86V937C283 937.552 282.552 938 282 938H127C102.699 938 83 918.301 83 894V326.56C83 308.683 93.8163 292.583 110.367 285.825L140.167 273.657C142.053 272.887 143.976 272.253 145.947 271.736C154.594 269.469 180.361 262.529 197.359 256C217.611 248.221 228.362 243.624 245.051 230C256.048 221.023 269.028 202.386 276.604 190.716C280.902 184.095 283 176.335 283 168.442V86Z" fill="#C9C9C9" />

                <path d="M283.5 937V168.442V86H283H282.5V168.442C282.5 176.247 280.426 183.911 276.185 190.443C268.603 202.123 255.661 220.693 244.735 229.613C228.107 243.188 217.413 247.762 197.18 255.533C180.211 262.051 154.47 268.985 145.82 271.252C143.829 271.774 141.886 272.415 139.978 273.194L110.178 285.362C93.4392 292.197 82.5 308.48 82.5 326.56V894C82.5 918.577 102.423 938.5 127 938.5H282C282.828 938.5 283.5 937.828 283.5 937Z" stroke="#3B8F52" />

            </g>

        </g>

        <defs>

            <filter id="filter0_d_1_2" x="-14" y="-10" width="402" height="1053" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">

                <feFlood flood-opacity="0" result="BackgroundImageFix" />

                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />

                <feOffset dx="4" dy="4" />

                <feGaussianBlur stdDeviation="50" />

                <feComposite in2="hardAlpha" operator="out" />

                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />

                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_2" />

                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_2" result="shape" />

            </filter>

            <linearGradient id="paint0_linear_1_2" x1="1384.88" y1="25.6" x2="-109.278" y2="694.027" gradientUnits="userSpaceOnUse">

                <stop offset="0.00516524" stop-color="#F8F8F8" />

                <stop offset="1" stop-color="#F8F8F8" stop-opacity="0.7" />

            </linearGradient>

            <clipPath id="clip0_1_2">

                <rect width="1440" height="1024" rx="20" fill="white" />

            </clipPath>

        </defs>

    </svg>


</div>